<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Supermarket
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let supermarket of supermarkets">
      <ion-label>
        <h2>{{ supermarket.name }}</h2>
        <p>{{ supermarket.info }}</p>
      </ion-label>
    </ion-item>
  </ion-list>


  <!-- 
  <ion-list>
    <ion-item>
      <ion-label>Breitengrad</ion-label>
      {{ latitude }}
    </ion-item>
    <ion-item>
      <ion-label>Längengrad</ion-label>
      {{ longitude }}
    </ion-item>
  </ion-list>

  <ion-button fill="clear" (click)="getCurrentPosition()">Standort abfragen</ion-button>
</ion-content>
-->