<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Edit Recipe</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Title</ion-label>
      <ion-textarea [(ngModel)]="recipe && recipe.title" name="title" required></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Instructions</ion-label>
      <ion-textarea [(ngModel)]="recipe && recipe.instructions" name="instructions" required></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Image</ion-label>
      <app-camera (imageChanged)="updateImage($event)"></app-camera>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="saveChanges()" class="custom-button">Save Changes</ion-button>
</ion-content>
