<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="saveRecipe(recipeForm.value)" 
        [formGroup]="recipeForm">

    <ion-input
      label="Title"
      labelPlacement="floating"
      errorText="Title is missing"
      formControlName="title"
      [required]="true"></ion-input>
    <ion-input
      label="Instructions"
      labelPlacement="floating"
      errorText="Instructions are missing"
      formControlName="instructions"
      [required]="true"></ion-input>

      <app-camera></app-camera>

      <!-- 

      <ion-card>

        <img *ngIf="imageUrl" [src]="imageUrl" />
      
        <ion-button fill="clear"
          (click)="takePicture()">
          Foto aufnehmen
        </ion-button>
      
        <ion-button fill="clear"
          *ngIf="imageUrl"
          (click)="resetPicture()">
          Reset
        </ion-button>
      
      </ion-card>
-->
      <!-- 
    <ion-input
      label="Image"
      labelPlacement="floating"
      errorText="Image is missing"
      formControlName="image"
      [required]="false"></ion-input>
-->
    <ion-button
      type="submit"
      fill="clear">Save
    </ion-button>
  </form>

  
</ion-content>

<!-- 
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
-->